<div id="bg-about">
    <div class="container">
        <section id="about-us">
            <div class="column">
                <img src="images/about-us-image.svg" class="about-img" alt="random image 1" class="about-us-img">
            </div>
            <div class="column">
                <div class="content">
                        <div class="about-title">
                            <h4>About Us <img src="images/line.svg" alt=""></h4>
                        </div>
                        <h1>You can`t use up creativity</h1>
                        <p>Does any industry face a more complex audience journey and marketing sales process than B2B technology? Consider the number of people who influence a sale, the length of the decision-making cycle, the competing interests of the people who purchase, implement, manage, and use the technology. It’s a lot meaningful content here.</p>
                    <div class="about-exp">
                        <h2>15</h2>
                        <h3>Years of <br>Experience</h3>
                    </div>
                    <div>
                        <a href="#" class="btn btn-main">Learn More</a>
                        <a href="#" class="btn btn-second">video Intro Video</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>