<div class="bg-white">
    <div class="container">
        <section id="book-a-meeting">
            <div class="inner-form">
                <h1>Book a Meeting</h1>
                <p>Does any industry face a more complex audience journey and <br>
                    marketing sales process than B2B technology.</p>
                <form>
                    <div class="row">
                        <div class="col">
                          <input type="name" class="form-control" placeholder="Enter Your Name">
                        </div>
                        <div class="col">
                          <input type="email" class="form-control" placeholder="Enter your email">
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="3" placeholder="Enter your question & subjext here."></textarea>
                    </div>
                    <a href="#" class="btn btn-main">Book a Meeting Now</a>
                </form>
            </div>
        </section>
    </div>
</div>