<div class="bg-dark-blue">
    <div class="container">
        <section id="footer">
            <div class="column">
                <div>
                <h1>OmniVus.</h1>
                <p>The web has changed a lot since we posted our first article back in 2007. The team at Mattin-Lassi Group has changed too, as have the things that we bring to our community 
                    conferences, books, and our membership added to the online magazine.</p>
                <p> <br>One thing that hasn`t changed is that we`re a small team — with most of us not working</p>
                </div>
            </div>
            <div class="column">
                <div>
                <h2>Working Hours</h1>
                <h3>Monday - Friday: 7:00 - 17:00 <br>
                    Saturday: 7:00 - 12:00<br>
                    Sunday and holidays: 8:00 - 10:00</h3>
                <p><b>For more then 15 years,</b> IT Service has been a <br /> reliable partner in the field of logistics and <br />cargo forwarding.</p>
                </div>
            </div>
        </section>
        <div id="copyright">
            <p>Copyright © Mattin-Lassei Group AB - 2022</p>
        </div>
    </div>
</div>