<div class="bg-dark-blue">
    <div class="container">
        <section id="intro">
            <div class="column">
                <div class="content">
                    <div>
                        <div>
                            <h4>Intro<img src="images/line.svg" alt=""></h4>
                        </div>
                            <h1>How we growth our business.</h1>
                            <h2>The introduction of cloud and mobile technologies into enterprise software.</h2>
                            <p>Whether you are building an enterprise web portal or a state-of-the-art website, you always need the right modern tools. Well-built and maintained .NET frameworks provide those tools in abundance, allowing maintained .NET frameworks provide those tools in abundance, allowing developers to save time, re-use code, and streamline the back end. As software development tools continuously.</p>
                            <a href="#" class="btn btn-main">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <img src="images/Group 15.svg" alt="" class="showcase-img">
            </div>
        </section>
    </div>
</div>