
@model MainMenuViewModel

<nav id="main-menu">
    <div class="menu-items">
        @foreach(var link in Model.Links)
        {
            <a asp-controller="@link.ControllerName" asp-action="@link.ActionName">@link.DisplayName</a>
        }

    </div>
    @if(SignInManager.IsSignedIn(User))
    {
        <a asp-controller="Authentication" asp-action="SignOut" class="btn btn-main">Sign Out</a>   
    }
    else
    {
        <a asp-controller="Authentication" asp-action="SignIn" class="btn btn-main">Logg in</a>   
    }
    
</nav>