<div class="bg-white">
    <section id="services">
        <div class="column">
            <a href="#" class="card"><img src="images/1.svg"></a>
            <a href="#" class="card"><img src="images/4.svg"></a>
        </div>
        <div class="column">
            <a href="#" class="card"><img src="images/2.svg"></a>
            <a href="#" class="card"><img src="images/5.svg"></a>
        </div>
        <div class="column">
            <a href="#" class="card"><img src="images/3.svg"></a>
            <a href="#" class="card"><img src="images/6.svg"></a>
        </div>
    </section>
</div>